In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
insurance_df = pd.read_csv('insurance.csv')

In [3]:
#Rounding off numbers in 'bmi' and charges column
insurance_df['bmi']=insurance_df['bmi'].round(1)
insurance_df['charges']=insurance_df['charges'].round(2)

In [4]:
insurance_df

      age     sex   bmi  children smoker     region   charges
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.8         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.94
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [5]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663303     1.094918  13270.422280
std      14.049960     6.098257     1.205493  12110.011259
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [7]:
#Average Age
Average_Age =insurance_df['age'].mean().round(0)

In [8]:
#Body Mass Index Average
Average_Bmi = insurance_df['bmi'].mean().round(1)

In [9]:
#Number of Children Average
Average_Number_Childern_By_Gender = insurance_df['children'].mean().round(0)

In [10]:
#Average Insurance Charges
Average_Insurance_Charges = insurance_df['charges'].mean().round(2)

In [11]:
#Checking null values in Data
insurance_df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
# Data Exploration

In [13]:
insurance_df['age'].nunique()

47

In [14]:
# Youngest And Oldest Age 
insurance_df['age'].min()

18

In [15]:
insurance_df['age'].max()

64

In [16]:
insurance_df['age'].unique()

array([19, 18, 28, 33, 32, 31, 46, 37, 60, 25, 62, 23, 56, 27, 52, 30, 34,
       59, 63, 55, 22, 26, 35, 24, 41, 38, 36, 21, 48, 40, 58, 53, 43, 64,
       20, 61, 44, 57, 29, 45, 54, 49, 47, 51, 42, 50, 39], dtype=int64)

In [17]:
# Number of Males And Females Overall 
Number_per_gender = insurance_df['sex'].value_counts()

In [18]:
insurance_df['sex'].unique()

array(['female', 'male'], dtype=object)

In [19]:
# Total Body Mass Index(BMI)
insurance_df['bmi'].nunique()

274

In [20]:
# Number of smokers and non-smokers
Number_of_smokers_nonsmokers = insurance_df['smoker'].value_counts()

In [21]:
insurance_df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [22]:
# Number Per Region Area
Number_Per_Region_Area = insurance_df['region'].value_counts()

In [23]:
insurance_df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [24]:
# Data Analysis

In [25]:
# Does Gender and Age Have An Effect On Insurance Charges
Insurance_Charges_On_Gender = insurance_df.groupby('sex')['charges'].mean().nlargest().round(2)

In [26]:
Insurance_Charges_On_Age = insurance_df.groupby('age')['charges'].mean().nlargest(47).round(2)

In [27]:
#Does Gender And Number of Children Have An Effect On Insurance Charges 
insurance_df.groupby('children')['charges'].mean().nlargest(6).round(2)

children
3    15355.32
2    15073.56
4    13850.66
1    12731.17
0    12365.98
5     8786.04
Name: charges, dtype: float64

In [28]:
insurance_df['children'].nunique()

6

In [29]:
Gender_Number_Of_Children_Effect_On_Insurance = insurance_df.groupby(['sex','children'])['charges'].mean().reset_index().round(2)

In [30]:
#Does Smoker or Non-Smoker Have An Effect On Insurance Charges 
Smokers_Effect_On_Insurance_Charges = insurance_df.groupby('smoker')['charges'].mean().round(2)

In [31]:
insurance_df['bmi'].nunique()

274

In [32]:
#  Does Age Alone Have An Effect On Insurance Charges 
Age_Effect_On_Insurance_Charges = insurance_df.groupby('age')['charges'].mean().nlargest(47).round(2)

In [33]:
# Does Region Alone Have An Effect On Insurance Charges
Region_Effect_On_Insurance_Charges = insurance_df.groupby('region')['charges'].mean().nlargest(4).round(2)

In [34]:
# Does Body Mass Index Alone Have An Effetc On Insurance Charges 
Bmi_Effect_On_Insurance_Charges = insurance_df.groupby('bmi')['charges'].mean().nlargest(274).round(2)

In [35]:
#Does Gender And Smoker Type Have An Effect On Insurance Charges 
Gender_And_Smoker_Type_Insurance_Charges = insurance_df.groupby(['sex','smoker'])['charges'].mean().nlargest()

In [86]:
# Does Gender,Age And Smoker Type Have An Effect On Insurance Charges
Gender_Age_Smoker_Type_Effect_On_Insurance_Charges = insurance_df.groupby(['sex','age','smoker'])['charges'].mean().nlargest(64).round(2)

In [37]:
#Does Age And Body Mass Index Have An Effect On Insurance Charges 
# Group by 'age' and 'bmi', calculate the mean of 'charges', and sort by largest values
Age_BodyMass_Effect_On_Charges = insurance_df.groupby(['age', 'bmi'])['charges'].mean().sort_values(ascending=False).head(64)

In [38]:
Age_BodyMass_Effect_On_Charges

age  bmi
54   47.4    63770.43
45   30.4    62592.87
52   34.5    60021.40
31   38.1    58571.07
33   35.5    55135.40
               ...
50   31.8    41097.16
43   35.0    41034.22
48   33.1    40974.16
30   39.0    40932.43
23   42.8    40904.20
Name: charges, Length: 64, dtype: float64

In [39]:
#Does Age And Children Have An Effect On Insurance Charges
Age_Children_Effect_On_Insurance_Charges = insurance_df.groupby(['age', 'children'])['charges'].mean().nlargest(64).round(2)

In [74]:
Age_Children_Effect_On_Insurance_Charges

age  children
63   2           47305.30
61   1           41596.70
37   4           40182.25
20   3           37465.34
61   4           36580.28
                   ...
62   0           17226.85
61   0           17196.93
24   4           17128.43
30   0           17024.91
55   3           16895.97
Name: charges, Length: 64, dtype: float64

In [82]:
#Does Gender And Body Mass Index Have An Effect On Insurance Charges 
Gender_Body_Mass_Index_Effect_On_Insurance_Charges = insurance_df.groupby(['sex','bmi'])['charges'].mean().nlargest(274).round(2)

In [79]:
insurance_df['bmi'].nunique()

274

In [105]:
# Avg Age DataFrame
avg = pd.Series(['Average'])
num = pd.Series([39])
data = {'Average':avg, 'Age':num}
DF_Average_Age_Insurance = pd.DataFrame(data)

In [107]:
DF_Average_Age_Insurance.to_csv('DF_Average_Age_For_Insurers.csv',index=False)

In [43]:
Average_Bmi

30.7

In [44]:
#Average Bmi DataFrame
avg = pd.Series(['Average'])
num = pd.Series([30.7])
data = {'Average':avg,'Total':num}
DF_Average_Bmi_Insurance = pd.DataFrame(data)

In [104]:
DF_Average_Bmi_Insurance.to_csv('DF_Average_Bmi_Insurance.csv',index=False)

In [46]:
Average_Number_Childern_By_Gender

1.0

In [47]:
#Average Num of Children By Gender DataFrame
avg = pd.Series(['Average'])
num = pd.Series([1])
data = {'Average':avg,'Total':num}
DF_Average_Number_Children_By_Gender = pd.DataFrame(data)

In [103]:
DF_Average_Number_Children_By_Gender.to_csv('DF_Average_Number_Children_By_Gender.csv',index=False)

In [49]:
Average_Insurance_Charges

13270.42

In [50]:
#Average Insurance Charge DataFrame
avg = pd.Series(['Average'])
num = pd.Series([13270.42])
data = {'Average':avg, 'Total':num}
DF_Average_Insurance_Charges = pd.DataFrame(data)

In [102]:
DF_Average_Insurance_Charges.to_csv('DF_Average_Insurance_Charges.csv',index=False)

In [52]:
Insurance_Charges_On_Gender

sex
male      13956.75
female    12569.58
Name: charges, dtype: float64

In [53]:
# Insurance Charges On Gender DataFrame
sex = pd.Series(['Male','Female'])
num = pd.Series([13956.75,12569.58])
data = {'Gender':sex,'Insurance Charges':num}
DF_Insurance_Charges_On_Gender = pd.DataFrame(data)

In [101]:
DF_Insurance_Charges_On_Gender.to_csv('DF_Insurance_Charges_On_Gender.csv',index=False)

In [54]:
Insurance_Charges_On_Age

age
64    23275.53
61    22024.46
60    21979.42
63    19885.00
43    19267.28
62    19163.86
59    18895.87
54    18758.55
52    18256.27
37    18019.91
47    17654.00
57    16447.19
55    16164.54
53    16020.93
44    15859.40
51    15682.26
50    15663.00
56    15025.52
45    14830.20
48    14632.50
46    14342.59
58    13878.93
42    13061.04
30    12719.11
49    12696.01
23    12419.82
33    12351.53
36    12204.48
27    12184.70
39    11778.24
40    11772.25
34    11613.53
35    11307.18
24    10648.02
29    10430.16
31    10196.98
20    10159.70
22    10012.93
25     9838.36
19     9747.91
41     9653.75
32     9220.30
28     9069.19
38     8102.73
18     7086.22
26     6133.83
21     4730.46
Name: charges, dtype: float64

In [55]:
# Insurance Charges On Age DataFrame
age = pd.Series(['64','61','60','63','43','62','59','54','52','37','47','57','55','53','44','51','50','56','45','48','46',
                '58','42','30','49','23','33','36','27','39','40','34','35','24','29','31','20','22','25','19','41','32','28',
                '38','18','26','21'])
num = pd.Series([23275.53,22024.46,21979.42,19885.00,19267.28,19163.86,18895.87,18758.55,18256.27,18019.91,17654.00,16447.19,16164.54,
                16020.93,15859.40,15682.26,15663.00,15025.52,14830.20,14632.50,14342.59,13878.93,13061.04,12719.11,12696.01,12419.82,12351.53,
                12204.48,12184.70,11778.24,11772.25,11613.53,11307.18,10648.02,10430.16,10196.98,10159.70,10012.93,9838.36,9747.91,9653.75,9220.30,
                9069.19,8102.73,7086.22,6133.83,4730.46])
data = {'Age':age,'Insurance Charge':num}
DF_Insurance_Charge_According_To_Age = pd.DataFrame(data)

In [99]:
DF_Insurance_Charge_According_To_Age.to_csv('DF_Insurance_Charge_According_To_Age.csv',index=False)

In [57]:
Gender_Number_Of_Children_Effect_On_Insurance

       sex  children   charges
0   female         0  11905.71
1   female         1  12161.36
2   female         2  13941.32
3   female         3  13865.60
4   female         4  13937.67
5   female         5   9854.01
6     male         0  12832.70
7     male         1  13273.52
8     male         2  16187.10
9     male         3  16789.17
10    male         4  13782.29
11    male         5   7931.66

In [58]:
# Gender Number Of Children Effect On Insurance 
sex = pd.Series(['female','female','female','female','female','female','male','male','male','male','male','male'])
num = pd.Series([0,1,2,3,4,5,0,1,2,3,4,5])
charge = pd.Series([11905.71,12161.36,13941.32,13865.60,13937.67,9854.01,12832.70,13273.52,16187.10,16789.17,13782.29,7931.66])
data = {'Gender':sex,'Number of Children':num,'Insurance Charge':charge}
DF_Gender_Number_Of_Children_Effect_On_Insurance = pd.DataFrame(data)

In [98]:
DF_Gender_Number_Of_Children_Effect_On_Insurance.to_csv('DF_Gender_Number_Of_Children_Effect_On_Insurance.csv',index=False)

In [60]:
Smokers_Effect_On_Insurance_Charges

smoker
no      8434.27
yes    32050.23
Name: charges, dtype: float64

In [61]:
# Smokers Effect On Insurance Charges 
smokers = pd.Series(['No','Yes'])
num = pd.Series([8434.27,32050.23])
data = {'Smoker':smokers,'Insurance Charge':num}
DF_Smokers_Effect_On_Insurance_Charges = pd.DataFrame(data)

In [97]:
DF_Smokers_Effect_On_Insurance_Charges.to_csv('DF_Smokers_Effect_On_Insurance_Charges.csv',index=False)

In [63]:
Region_Effect_On_Insurance_Charges

region
southeast    14735.41
northeast    13406.38
northwest    12417.58
southwest    12346.94
Name: charges, dtype: float64

In [64]:
# Region Effect On Insurance Charges 
regions = pd.Series(['Southeast','Northeast','Northwest','Southwest'])
num = pd.Series([14735.41,13406.38,12417.58,12346.94])
data = {'Region':regions,'Insurance Charge':num}
DF_Region_Effect_On_Insurance_Charge = pd.DataFrame(data)

In [96]:
DF_Region_Effect_On_Insurance_Charge.to_csv('DF_Region_Effect_On_Insurance_Charges.csv',index=False)

In [95]:
# Converting Grouping into a DataFrame And Saving To CSV file
Age_BodyMass_Effect_On_Charges.reset_index().to_csv('DF_Age_Bmi_Effect_Insurance_Charge.csv', index=False)

In [70]:
Gender_And_Smoker_Type_Insurance_Charges.round(2)

sex     smoker
male    yes       33042.01
female  yes       30679.00
        no         8762.30
male    no         8087.20
Name: charges, dtype: float64

In [71]:
sex = pd.Series(['male','female','female','male'])
smokers = pd.Series(['Yes','Yes','No','No'])
charge = pd.Series([33042.01,30679.00,8762.30,8087.20])
data = {'Gender':sex,'Smoker':smokers,'Insurance Charge':charge}
DF_Gender_And_Smoker_Type_Effect_On_Insurance_Charge = pd.DataFrame(data)

In [94]:
DF_Gender_And_Smoker_Type_Effect_On_Insurance_Charge.to_csv('DF_Gender_And_Smoker_Type_Effect_On_Insurance_Charge.csv',index = False)

In [93]:
# Converting Grouping Into a Dataframe and Saving into csv file 
Age_Children_Effect_On_Insurance_Charges.reset_index().to_csv('DF_Age_Children_Effect_On_Insurance_Charges.csv',index=False)

In [89]:
# Converting Grouping Into a DataFrame and Saving into csv file
Age_BodyMass_Effect_On_Charges.reset_index().to_csv('DF_Age_BodyMass_Effect_On_Insurance_Charges.csv',index=False)

In [84]:
# Converting Goruping Into a DataFrame And Saving into csv file 
Gender_Body_Mass_Index_Effect_On_Insurance_Charges.reset_index().to_csv('DF_Gender_Body_Mass_Index_On_Insurance_Charges.csv',index=False)

In [88]:
# Converting Grouping Into a DataFarme and Saving into csv file
Gender_Age_Smoker_Type_Effect_On_Insurance_Charges.reset_index().to_csv('DF_Gender_Age_Smoker_Type_Effect_On_Insurance_Charges.csv',index = False)